.footer{
  //width: 100vw;
  background-image:  linear-gradient($color-blue-black, $color-blue2);

  &__nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;

    a{
      font-family: MontLight;
      font-size: 1.5rem;
      color: $color-white;
      text-align: center;
    }

    img{
      //margin-left: auto;
      //margin-right: auto;
      grid-column: 1/4;
      height: 20rem;
      width: 20rem;
    }

    ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        margin: 0 1rem;
      }
    }

    &__fbicon , &__instaicon, &__tiktokicon{
      font-size: 3rem;
      color: $color-golden;
    }


    @include respond(phone){
      grid-template-columns: repeat(1,1fr);
      img,ul,div{
        //margin-left: auto;
        //margin-right: auto;
        grid-column: 1/2;
      }
      ul{
        margin-bottom: 1rem;
      }
    }
  }
}

