.full-container {
  background-color: $color-blue1;
  width: auto;
  height: 17rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0rem;
  //grid-template-columns: repeat(auto-fit, minmax( 78rem, 1fr ) );
  //column-gap: 4rem;

  a{
    text-align: center;
    display: block;
    font-size: 2.8vw;
    color: $color-white;
  }

  &__button {
    background-color: $color-golden;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.7vw;
    padding: 1rem;
    transition: background-color .3s ease-out ;
    text-align: center;
    border: none;
    width: 80%;
    height: 4.6vh;
    position: center;

    &--button-grid-3{
      width: 100%;
      font-size: 0.9vw;
    }

    &:hover {
      background-color: $color-golden2;
      cursor: pointer;
    }

  }

  &__btn-expert{
    padding-top:2rem;

    &--grid-3{
      padding: 0rem 4rem;
    }
  }



  @include respond(tab-port ){
    padding: 3rem 3.5rem 0rem 3.5rem;
    display: block;
    &__button {
      width: 100%;
      font-size: 2vw;
      height: 3.5vh;
    }
    a{
      font-size: 4vw;
    }
    &__btn-expert{
      padding:0rem 10rem;
    }
  }
}

.big-container{
  height: auto;
  //height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 1440 500' width='1440' height='500' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 376L24 373.7C48 371.3 96 366.7 144 368C192 369.3 240 376.7 288 376.3C336 376 384 368 432 359C480 350 528 340 576 342.7C624 345.3 672 360.7 720 361.5C768 362.3 816 348.7 864 345.3C912 342 960 349 1008 359.5C1056 370 1104 384 1152 390.8C1200 397.7 1248 397.3 1296 390.8C1344 384.3 1392 371.7 1416 365.3L1440 359L1440 501L1416 501C1392 501 1344 501 1296 501C1248 501 1200 501 1152 501C1104 501 1056 501 1008 501C960 501 912 501 864 501C816 501 768 501 720 501C672 501 624 501 576 501C528 501 480 501 432 501C384 501 336 501 288 501C240 501 192 501 144 501C96 501 48 501 24 501L0 501Z' fill='%230e3164'%3E%3C/path%3E%3Cpath d='M0 365L24 371.7C48 378.3 96 391.7 144 398.8C192 406 240 407 288 406.5C336 406 384 404 432 400.5C480 397 528 392 576 387.7C624 383.3 672 379.7 720 384.2C768 388.7 816 401.3 864 407.3C912 413.3 960 412.7 1008 409.8C1056 407 1104 402 1152 399.7C1200 397.3 1248 397.7 1296 401.2C1344 404.7 1392 411.3 1416 414.7L1440 418L1440 501L1416 501C1392 501 1344 501 1296 501C1248 501 1200 501 1152 501C1104 501 1056 501 1008 501C960 501 912 501 864 501C816 501 768 501 720 501C672 501 624 501 576 501C528 501 480 501 432 501C384 501 336 501 288 501C240 501 192 501 144 501C96 501 48 501 24 501L0 501Z' fill='%23072753'%3E%3C/path%3E%3Cpath d='M0 422L24 425.2C48 428.3 96 434.7 144 436.2C192 437.7 240 434.3 288 436.5C336 438.7 384 446.3 432 448.8C480 451.3 528 448.7 576 442.5C624 436.3 672 426.7 720 421.7C768 416.7 816 416.3 864 420.8C912 425.3 960 434.7 1008 432.8C1056 431 1104 418 1152 415.7C1200 413.3 1248 421.7 1296 423C1344 424.3 1392 418.7 1416 415.8L1440 413L1440 501L1416 501C1392 501 1344 501 1296 501C1248 501 1200 501 1152 501C1104 501 1056 501 1008 501C960 501 912 501 864 501C816 501 768 501 720 501C672 501 624 501 576 501C528 501 480 501 432 501C384 501 336 501 288 501C240 501 192 501 144 501C96 501 48 501 24 501L0 501Z' fill='%23021d41'%3E%3C/path%3E%3Cpath d='M0 454L24 455.7C48 457.3 96 460.7 144 462.5C192 464.3 240 464.7 288 466C336 467.3 384 469.7 432 468.2C480 466.7 528 461.3 576 462.8C624 464.3 672 472.7 720 472.3C768 472 816 463 864 459C912 455 960 456 1008 455.3C1056 454.7 1104 452.3 1152 449.8C1200 447.3 1248 444.7 1296 449.2C1344 453.7 1392 465.3 1416 471.2L1440 477L1440 501L1416 501C1392 501 1344 501 1296 501C1248 501 1200 501 1152 501C1104 501 1056 501 1008 501C960 501 912 501 864 501C816 501 768 501 720 501C672 501 624 501 576 501C528 501 480 501 432 501C384 501 336 501 288 501C240 501 192 501 144 501C96 501 48 501 24 501L0 501Z' fill='%23001431'%3E%3C/path%3E%3C/svg%3E");
  //background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 1440 500' width='1440' height='500' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 322L18.5 326.3C37 330.7 74 339.3 111 337.3C148 335.3 185 322.7 221.8 315.7C258.7 308.7 295.3 307.3 332.2 306.7C369 306 406 306 443 307.3C480 308.7 517 311.3 554 315.3C591 319.3 628 324.7 664.8 323C701.7 321.3 738.3 312.7 775.2 311.2C812 309.7 849 315.3 886 319.2C923 323 960 325 997 333.7C1034 342.3 1071 357.7 1107.8 361.5C1144.7 365.3 1181.3 357.7 1218.2 353.7C1255 349.7 1292 349.3 1329 346.5C1366 343.7 1403 338.3 1421.5 335.7L1440 333L1440 501L1421.5 501C1403 501 1366 501 1329 501C1292 501 1255 501 1218.2 501C1181.3 501 1144.7 501 1107.8 501C1071 501 1034 501 997 501C960 501 923 501 886 501C849 501 812 501 775.2 501C738.3 501 701.7 501 664.8 501C628 501 591 501 554 501C517 501 480 501 443 501C406 501 369 501 332.2 501C295.3 501 258.7 501 221.8 501C185 501 148 501 111 501C74 501 37 501 18.5 501L0 501Z' fill='%230e3164'%3E%3C/path%3E%3Cpath d='M0 386L18.5 388.8C37 391.7 74 397.3 111 398.8C148 400.3 185 397.7 221.8 393C258.7 388.3 295.3 381.7 332.2 374.5C369 367.3 406 359.7 443 358.8C480 358 517 364 554 363.7C591 363.3 628 356.7 664.8 357.7C701.7 358.7 738.3 367.3 775.2 371.2C812 375 849 374 886 378.3C923 382.7 960 392.3 997 392.8C1034 393.3 1071 384.7 1107.8 379.7C1144.7 374.7 1181.3 373.3 1218.2 370.8C1255 368.3 1292 364.7 1329 368.5C1366 372.3 1403 383.7 1421.5 389.3L1440 395L1440 501L1421.5 501C1403 501 1366 501 1329 501C1292 501 1255 501 1218.2 501C1181.3 501 1144.7 501 1107.8 501C1071 501 1034 501 997 501C960 501 923 501 886 501C849 501 812 501 775.2 501C738.3 501 701.7 501 664.8 501C628 501 591 501 554 501C517 501 480 501 443 501C406 501 369 501 332.2 501C295.3 501 258.7 501 221.8 501C185 501 148 501 111 501C74 501 37 501 18.5 501L0 501Z' fill='%2304224a'%3E%3C/path%3E%3Cpath d='M0 423L18.5 421C37 419 74 415 111 418.5C148 422 185 433 221.8 438.5C258.7 444 295.3 444 332.2 439.5C369 435 406 426 443 425.2C480 424.3 517 431.7 554 432.5C591 433.3 628 427.7 664.8 422C701.7 416.3 738.3 410.7 775.2 411.7C812 412.7 849 420.3 886 421.3C923 422.3 960 416.7 997 415.8C1034 415 1071 419 1107.8 422.8C1144.7 426.7 1181.3 430.3 1218.2 432C1255 433.7 1292 433.3 1329 434.3C1366 435.3 1403 437.7 1421.5 438.8L1440 440L1440 501L1421.5 501C1403 501 1366 501 1329 501C1292 501 1255 501 1218.2 501C1181.3 501 1144.7 501 1107.8 501C1071 501 1034 501 997 501C960 501 923 501 886 501C849 501 812 501 775.2 501C738.3 501 701.7 501 664.8 501C628 501 591 501 554 501C517 501 480 501 443 501C406 501 369 501 332.2 501C295.3 501 258.7 501 221.8 501C185 501 148 501 111 501C74 501 37 501 18.5 501L0 501Z' fill='%23001431'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  //background-position: bottom center, 50%, 50%;
}

.contact-container{
  max-width: 140rem;
  margin: 0 auto;
  background-image: linear-gradient( $color-golden2,$color-golden);
  place-items: center;
  border-radius: 2rem;

}


.full-ctir-contact{
  background-color: $color-blue1;
  width: auto;
  height: 17rem;
  place-items: center;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 0rem;
  padding: 0 8rem;

  &__appoinment{
    //padding: 3rem;
    display: grid;
    gap: 0;

    a{
      text-align: center;
      color: $color-white;
      font-size: 2vw;

    }

    i{
      font-size: 4vw;
      &:hover{
        color: $color-golden;
      }
    }
  }

  &__title{
    //padding: 4rem;
    text-align: center;
    display: block;
    font-size: 2.8vw;
    color: $color-white;
  }



  @include respond(tab-port ){
    padding: 2rem 3.5rem 0rem 3.5rem;
    display: block;
    height: auto;
    &__title{
      padding-bottom: 0rem;
      padding-top:0rem;
      font-size: 4vw;
    }
    &__appoinment{
      padding:0rem auto;
      a{
        font-size: 3.5vw;
      }
      i{
        font-size: 9vw;
      }

    }
  }

}
