.grid {
  display: grid;

  &__2-col {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  &__3-col {
    grid-template-columns: repeat(3, 1fr);
  }

  &__4-col {
    grid-template-columns: repeat(4, 1fr);
  }

  &__column-1-3 {
    grid-column: 1/3;
  }

  @include respond(phone) {
      display: block;
  }
}




